<div class="review">
    <div class="review_img">
        <div class="review_img_center">
            <img src="/images/user_man.png" alt="">
        </div>
    </div>
    <div class="review_title">
        <div class="review_title_name">
            <h1>"Лалалалалалала лал лалалла лал!"</h1>
        </div>
        <div class="border"></div>
        <div class="review_title_author">
            <h2>Авторавтор автор</h2>
        </div>
    </div>
    <div class="review_content">
        <p>Лалалаллааллаала алмовалмовамдоиваио лваивалваолдаои вдлаломдваломдла валивадлоилдо двалиовадлоилдваоидл валивадлоилдвиодшов  двлиод
            иловтловтитполаитлоаптвлатиддвадл двлидлви лваоидв ди довадватитм валлитватват лвоаиваолитвалоилот аитвалитлотил влитлтвпитлпоилотп лпти пот влтилвоаитв
            липдлитптлит влиотп опидл апооми пипаиаполитати апитаплотапо пиоапмит.</p>
    </div>
</div>