<a href="">
    <div class="education_org">
        <div class="education_org_img">
            <div class="education_org_img_center">
                <img src="/images/building.png" alt="">
            </div>
        </div>
        <div class="education_org_title">
            <div class="education_org_title_name">
                <h1>Лалалалаллаалала лалалала № 175</h1>
            </div>
            <div class="border"></div>
            <div class="education_org_contact_info">
                <h2>+37517-251-48-95, school@gmail.com</h2>
            </div>
        </div>
    </div>
</a>