<div class="banner">
    <img src="/images/notebook.jpg" alt="">
    <div class="banner-title">
        <span>Добро пожаловать в</span>
        <span>ES - электронные журналы и дневники</span>
    </div>
</div>
<div class="item">
    <div>
        <ul>
            <li>Электронный сервис для внесения информации об успеваемости и ее анализа;</li>
            <li>Отметки и домашние задания в интернете.Инструмент для анализа успеваемости;</li>
            <li>Последние новости всегда под рукой;</li>
            <li>Дневник всегда заполнен в соответствии с журналом;</li>
        </ul>
    </div>
    <div>
        <ul>
            <li>Информация об учебном процессе;</li>
            <li>Электронные журналы и централизованная база оценок по всем предметам.</li>
            <li>Площадка для коммуникации посетителей вместо простого набора статичных страниц.</li>
            <li>Личный аккаунт у каждого пользователя;</li>
        </ul>
    </div>
    <div>
        <ul>
            <li>Все отметки в удобной таблице успеваемости;</li>
            <li>Для учащихся и родителей - расписание, оценки и домашние задания, записанные самими учителями;</li>
            <li>Удобное графическое изображение успеваемости учащегося;</li>
            <li>Выставление отметок в два клика.</li>
        </ul>
    </div>
</div>
<div class="table">
    <div class="table_button">
        <div class="banner">
            <img src="/images/school.jpg" alt="">
            <div class="banner-title">
                <h1>Школы</h1>
                <span>Расписание, оценки и домашние задания, записанные самими учителями, можно просматривать в любое время.</span>
                <button type="submit">
                    Регистрация школы
                </button>
            </div>
        </div>
        <div class="banner">
            <img src="/images/university.jpg" alt="">
            <div class="banner-title">
                <h1>Университеты</h1>
                <span>Удобное расписание для студентов и преподавателей. Построение графиков успеваемости студентов. </span>
                <button type="submit">
                    Регистрация университета
                </button>
            </div>
        </div>
    </div>
</div>