<div class="university_find_panel">
    <div class="education_org_banner">
        <div class="education_org_banner_center">
            <span>Найдите нужный вам университет</span>
            <div class="education_org_search">
                <form name="search" action="#" method="get">
                    <input type="text" name="q" placeholder="Введите университет"><button type="submit">
                        <img src="/images/search_img.png" alt="">
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class = "education_org_content_center">
    <% include block_education_org.ejs%>
    <% include block_education_org.ejs%>
    <% include block_education_org.ejs%>
    <% include block_education_org.ejs%>
    <% include block_education_org.ejs%>
    <% include block_education_org.ejs%>
    <% include block_education_org.ejs%>
    <% include block_education_org.ejs%>
    <% include block_education_org.ejs%>
</div>