<div class = "content_center">
    <% include block_review.ejs%>
    <% include block_review.ejs%>
    <% include block_review.ejs%>
    <% include block_review.ejs%>
    <% include block_review.ejs%>
    <% include block_review.ejs%>
</div>