<div class="banner_join">
    <div class="banner">
        <div class="slider">
            <img class="mySlides" src="/images/banner_join1.jpg">
            <img class="mySlides" src="/images/banner_join2.jpg">
            <img class="mySlides" src="/images/banner_join3.jpg">
            <img class="mySlides" src="/images/banner_join4.jpg">
            <img class="mySlides" src="/images/banner_join5.png">
        </div>
        <script src="javascripts/slider.js"></script>
        <div class="banner-title">
            <span>Подключайтесь, с нами лучше!</span>
        </div>
    </div>
</div>
<div class="join_type">
    <div class="join_content_center">
        <div class="join_type_img">
            <div class="join_type_img_center">
                <img src="/images/join_school.png">
            </div>
        </div>
        <div class="join_type_content">
            <div class="join_type_description">
                <div class="join_item">
                    <ul>
                        <li>Электронный сервис для внесения информации об успеваемости и ее анализа;</li>
                        <li>Отметки и домашние задания в интернете.Инструмент для анализа успеваемости;</li>
                        <li>Последние новости всегда под рукой;</li>
                        <li>Дневник всегда заполнен в соответствии с журналом;</li>
                    </ul>
                </div>
            </div>
            <div class="join_type_button">
                <button type="submit" onClick='location.href="/newSchool"'>
                    Регистрация школы
                </button>
            </div>
        </div>
    </div>
</div>
<div class="join_type">
    <div class="join_content_center">
        <div class="join_type_img">
            <div class="join_type_img_center">
                <img src="/images/join_university.png">
            </div>
        </div>
        <div class="join_type_content">
            <div class="join_type_description">
                <div class="join_item">
                    <ul>
                        <li>Информация об учебном процессе;</li>
                        <li>Электронные журналы и централизованная база оценок по всем предметам.</li>
                        <li>Площадка для коммуникации посетителей вместо простого набора статичных страниц.</li>
                        <li>Личный аккаунт у каждого пользователя;</li>
                    </ul>
                </div>
            </div>
            <div class="join_type_button">
                <button type="submit">
                    Регистрация университета
                </button>
            </div>
        </div>
    </div>
</div>