<div class = "contact_data">
    <div class="contact_data_center">
        <div class="contact_image">
            <div class="image_center">
                <img src="/images/contact.png" alt="">
            </div>
        </div>
        <div class="contact_info">
            <div class="contact_info_center">
                <h1>Тихоновец Ника</h1>
                <div class="contact">
                    <img src="/images/phone.png" alt="">
                    <h2>+37525-739-01-09</h2>
                </div>
                <div class="contact">
                    <img src="/images/mail.png" alt="">
                    <h2>nika.tikhonovets@gmail.com</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "border"></div>
<div id="map"></div>
<script src = "/javascripts/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK6E8iSeTvPy9gAUWoubFvviEwKW7nAAU&callback=myMap"></script>