<div class="container__login">
    <div class="login__block">
        <form name="loginForm" novalidate>
            <div class="login__keyValue">
                <label for="login__username">Логин:</label>
                <input type="text" name="login" id="login__username" required>
            </div>
            <div class="login__keyValue">
                <label for="login__password">Пароль:</label>
                <input type="password" name="password"  id="login__password" required>
            </div>
            <button type="submit">Вход</button>
        </form>
    </div>
    <script src="javascripts/auth.js"></script>
</div>