<!--<div class="navigation_join">-->
    <!--<div class="navigation_join_center">-->
        <!--<button class="active">-->
            <!--Учреждение образования-->
        <!--</button>-->
        <!--<button>-->
            <!--Кто оставил заявку-->
        <!--</button>-->
        <!--<button>-->
            <!--Директор-->
        <!--</button>-->
    <!--</div>-->
<!--</div>-->
<div class="form_input">
    <div id="school" class="part">
        <form name="registrationForm" novalidate>
            <div class="login__keyValue">
                <label for="name" class="label_info">Наименование УО:</label>
                <input id="name" class="input_info" name="name" type="text">
            </div>
            <div class="login__keyValue">
                <label for="address" class="label_info">Адрес:</label>
                <input id="address" class="input_info" name="address" type="text">
            </div>
            <div class="login__keyValue">
                <label for="contact_info" class="label_info">Контактная информация:</label>
                <input id="contact_info" class="input_info" name="contact_info" type="text">
            </div>
            <div class="login__keyValue">
                <label for="email" class="label_info">E-mail:</label>
                <input id="email" class="input_info" name="email" type="text">
            </div>
            <div class="login__keyValue">
                <label for="dop_info" class="label_info">Дополнительная информация:</label>
                <input id="dop_info" class="input_info" name="dop_info" type="text">
            </div>
            <button type="submit">Подать заявку</button>
        </form>
    </div>
    <script src="javascripts/registration.js"></script>
</div>