<div id="sitemap">
    <div>
        <a href="">Подключение</a>
        <a href="/university">Университеты</a>
        <a href="/school">Школы</a>
    </div>
    <div>
        <a href="/">О нас</a>
        <a href="/review">Отзывы</a>
        <a href="/contact">Контакты</a>
    </div>
</div>
<div id="info">
    <p>nika.tikhonovets@gmail.com</p>
    <p>Ника Тихоновец, 2017</p>
</div>
<div id="logo">
    <a href=""><img src="/images/logo.png" alt="Whitesquare logo" height="42" width="200"></a>
</div>