<a href="/"><img src="/images/logo.png" alt="Whitesquare logo" height="42" width="200"></a>
<form name="search" action="#" method="get">
    <input type="text" name="q" placeholder="Введите запрос"><button type="submit">
        <img src="/images/search_img.png" alt="">
    </button>
</form>