<div class="navigation">
    <div class="menu">
        <nav>
            <ul class="top-menu">
                <li class = "menu"><a href="">ПОДКЛЮЧЕНИЕ</a></li>
                <li class = "menu"><a href="/">О НАС</a></li>
                <li class = "menu"><a href="/university">УНИВЕРСИТЕТЫ</a></li>
                <li class = "menu"><a href="/school">ШКОЛЫ</a></li>
                <li class = "menu"><a href="/review">ОТЗЫВЫ</a></li>
                <li class = "menu"><a href="/contact">КОНТАКТЫ</a></li>
            </ul>
        </nav>
    </div>
</div>
